%h1 Devices

%table.table
  - @devices.each do |device|
    %tr
      %td= button_to_function device.title, "new CP.PositionEmitter('#{device.id}', '#{device.title}')", class: 'btn'
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Novo', new_device_path, class: 'btn btn-large'
